<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script src="js/app.js"></script>
        <link href="static/style.css" rel="stylesheet">
        <title>#ChangeTheRatio</title>
    </head>

    <body >
        <div class="header">
            #ChangeTheRatio
            <h2><a href="https://github.com/bolducp">Paige Bolduc</a></h2>
        </div>

        <br>
        <div class="slider-nav">
            <a href="#" class="arrow-prev"><img src="static/arrow-prev.png"></a>
                <ul class="slider-dots">
                    <li class="dot active-dot">&bull;</li>
                    <li class="dot">&bull;</li>
                    <li class="dot">&bull;</li>
                    <li class="dot">&bull;</li>
                </ul>
            <a href="#" class="arrow-next"><img src="static/arrow-next.png"></a>
        </div>

        <div class="slider">
            <div class="slide active-slide">
                <div class="container">
                    <div class="row">
                        <div class="slide-copy col-xs-5">
                            <h1>Hi, I'm Paige.</h1><br>
                            <p>Welcome to my Coding House #ChangeTheRatio scholarship entry.<br><br>
                            Thanks for visiting!</p>
                        </div>
                        <div class="col-xs-7 enter">
                             <a id="myStory" data-toggle="modal" data-target="#myModal">My Story</a>
                            <!-- Photo Gallery Modal -->
                             <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                 <div class="modal-dialog" role="document">
                                     <div class="modal-content">
                                         <div class="modal-header" style="text-align:left">
                                             <div type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
                                             <h4 class="modal-title" id="myModalLabel" style="font-family: 'Georgia', serif; font-size:32px;">My Story</h4>
                                         </div>
                                         <div class="modal-body" style="color:black; font-family:  'Georgia', serif; font-size:16.5px; margin:1%; text-shadow:none">
                                             This past spring, I was almost finished with my second semester of a seven-year PhD program in literature when I decided to change my life trajectory and become a software developer. I was fully funded as a graduate student (tuition + a small living stipend), but in order to receive my funding, I had to teach Introductory Composition to a class of 20 undergraduate students each semester. In April, my students were working on their penultimate assignment-- to write a TED Talk about something they're passionate about and want to see changed in some way.<br><br>
                                             One afternoon, one of my students came to my office hours to discuss her TED Talk. She was a first-year computer science major, and her TED Talk was about the unequal gender distribution in her CS classes and how she often felt isolated as a woman in CS. In her talk, she made an argument for the importance of introducing programming to girls in high school to encourage them to consider software development as a future career. She asserted that high school was the ideal time because it was "too late" for most women in college, post college, or graduate school (like me) to get into programming.<br><br>
                                             Coincidentally, just a couple months earlier (February 2015), I had  been introduced to coding for the first time. Despite being busy with teaching and my own course work, I'd done the <a href="https://www.codecademy.com/learn/python">Codecademy Python course</a> in a weekend and had worked through Zed Shaw's <a href="http://learnpythonthehardway.org/book/index.html">Learn Python the Hard Way</a> in my scarce free time over the past several weeks. I quickly loved the logic and challenge of coding, but only considered it a hobby.<br><br>
                                             Despite being passionate about feminism and gender equality (most of my own academic research even focused on these topics), I didn't know about the gender gap in technology before reading this student's essay. Even though her TED Talk suggested that as a 23-year-old graduate student I had missed my chance to become a software developer, it suddenly occurred to me that programming could be a path that I not only had the potential to be good at and support myself doing, but could also enable me to make a tangible difference in working towards gender equality.<br><br>
                                             I began to spend every free moment I had learning more about programming. A few weeks later, I met with the director of graduate studies to tell him that I was going to leave the PhD program after that year to pursue a career in software development.<br><br>
                                             After working an intensive 24/7 summer job at a residential academic camp to save up money, in mid-August I began studying programming full time-- 60+ hours a week-- using free online resources. I've worked on programming every day since. For the first 12 weeks, I kept detailed records every weekday on this blog of everything that I was studying and building. Over the past few weeks, I've transitioned to writing only once a week in order to save more time for actually coding.<br><br>
                                             I love coding. I love that it's challenging and invigorating, and there's always more to learn. Before leaving my PhD program this spring, I can't remember quitting something that I had committed to. However, I love programming and I'm sure enough that I can cultivate the skills to become great developer that, for the first time, I'm changing my life plans in a drastic way. There's no turning back for me now, and Coding House is the best possible next step that I can imagine.<br>
                                         </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                        </div>
                        <br>
                        <img src="static/me.jpg" alt="Photo of Paige at a computer" style="display: block; margin-left: 62%; margin-right: auto; height:380px;">
                    </div>
                </div>
            </div>

            <div class="slide slide-feature2">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                        <h2>My "X-Factor(s)"</h2>

                        <div class="transbox"><br>
                             <span style="color: #49A391; font-family: 'Slabo 27px', serif; font-size: 1.6em; text-align:left; padding-left: 4%; display:block;">Here's why I have what it takes to thrive at Coding House:</span>
                            <div class="transbox2">
                                <ul><br>
                                    <li><strong>I know how to work hard, even past the brink of exhaustion.</strong>  As a member of the <a href="http://www.jewell.edu/oxbridge">Oxbridge Honors Program</a> in college, <strong>each week</strong> I read approximately 300 pages of literary and scholarly work and <i>wrote</i> 10 - 20 pages worth of analytical essays (in addition to a normal course load of at least 3 other classes). I barely slept throughout college, but I graduated <i>cumma sum laude</i> (3.98 GPA) and loved every minute of it.</li><br>
                                    <li><strong>I'm self-reliant and flexible.</strong>  Since graduating from high school, I've moved to new cities where I haven't known anyone four times (Kansas City, Missouri-- 2009; Oxford, England-- 2011; Nagoya, Japan-- 2013; West Lafayette, Indiana-- 2014). In each instance, I've had to adjust quickly to new academic and social environments. I've also backpacked alone through many European countries and throughout Japan, often facing unexpected difficulties along the way. </li><br>
                                    <li><strong>I'm resilient and have developed thick skin.</strong>  Working in an intense-paced food service job throughout high school and part of college, I learned to work well and efficiently as part of a team. Perhaps just as usefully, during that job I developed resilience for dealing with aggressive and unkind customers. I take criticism seriously and am always trying to improve, but I don't get discouraged when other people have bad attitudes or try to put me down.</li><br>
                                    <li><strong>I like a challenge, and I'm committed to becoming a software developer.</strong>  I quit graduate school (despite having a 4.0 GPA and full funding for six more years) in order to work full-time at becoming a programmer, something very new and in many ways intimidating to me. I've spent the last 16 weeks almost entirely writing code and reading/watching videos about writing code. I face technical roadblocks daily (especially trouble-shooting how to make different libraries work on my pc), but no matter how impossible things seem, I know there's always a solution. I'm now an expert Googler at finding answers to my problems.</li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="slide slide-feature3">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <br>
                            <h2>Why Coding House For Me</h2>
                            <br>
                            <div class="transbox3"><br>
                                <p>
                                    I've learned a lot about programming through self-study. There are loads of great resources online, and I have the dedication and drive to use them successfully. But I know the immersion and intensity of Coding House will enable me to learn <i>much more quickly</i>. Even more exciting to me, though, is the opportunity to be part of the Coding House community. Growing up in rural Missouri and studying mainly humanities subjects in college, I haven't yet been around other people who are learning to code or excited about technology. I would be sure to make the most of getting to be part of an energetic, tech-focused community day and night for 14 weeks.<br><br>
                                    Ultimately, I want to work as a software developer at a non-profit organization or a company that makes a positive impact on the world in some way. Most ideally, I'd like to be part of a team of developers that are collaborative and passionate about writing robust, sustainable code. A new long-term dream of mine now is to use the technical skills that I develop to enable me to spend more time in Japan and to contribute to improving gender equality in Japanese society (an issue that my academic research focused on but that scholarship alone seems insufficient to change). I believe that Coding House would teach me many, many specific tools and, more importantly, help me become a self-reliant developer who can accomplish these goals more quickly than any other program.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide slide-feature">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                             <br>
                              <h2>More</h2>
                              <br>
                              <div class="transbox3"><br>
                                  <p>
                                    My coding blog: <a href="https://paigelearnscode.wordpress.com"  style="padding-left:5em">https://paigelearnscode.wordpress.com</a> <br><br>
                                    More of my work on Github: <a href="https://github.com/bolducp" style="padding-left:5em">https://github.com/bolducp</a> <br><br>
                                    See the code that I wrote to make this #ChangeTheRatio website here: <a href="https://github.com/bolducp/ChangeTheRatio"  style="padding-left:5em">https://github.com/bolducp/ChangeTheRatio</a><br><br>
                                  </p>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-nav">
            <a href="#" class="arrow-prev"><img src="static/arrow-prev.png"></a>
                <ul class="slider-dots">
                    <li class="dot active-dot">&bull;</li>
                    <li class="dot">&bull;</li>
                    <li class="dot">&bull;</li>
                    <li class="dot">&bull;</li>
                </ul>
            <a href="#" class="arrow-next"><img src="static/arrow-next.png"></a>
        </div>

        <div class="header"><br></div>

    </body>
</html>



